html, body {
    margin: 0;
    padding: 0;
    position:relative;
}
#container {
    width:100%;
    background:#afe7f8;
}
.head {
    background:rgb(255, 255, 255);
    width:100%;
    margin:auto;
}
.domain_header {
    height:70px;
    line-height:70px;
    background-color: #FFFFFF;
    background-image: url('../bg2.png');
    width:100%;
}
.name {
    font-family:Verdana, Geneva, sans-serif;
    font-size: 70px;
    color: rgb(1, 22, 22);
    float:left;
    clear:left;
}
#header {
    width:100%;
    height:50px;
    border-bottom: solid 1px #D1D0CE;
    position:relative;
    background:#000000;
}
.head #nav {
    width:100%;
    text-align:center;
    overflow:hidden;
    line-height:30px;
    vertical-align:middle;
    background:#27b3eb;
}
.head #nav ul {
    margin-right:15px;
}
.head #nav li {
    float:right;
    display:inline-block;
}
.head #nav li a {
    clear: right;
    font-size:large;
    color:#ffffff;
    padding: 0px 13px 0px 13px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
.head #nav li a:hover{
    color:black;
    background-color:#1c9ed1;
    padding: 20px;
    border-radius: 10px; 
}

.head #content {
    margin-top:120px;
    width: 1000px;
}
#content a{
    text-decoration: none;
    color: #FFFFFF;
   
    
}
.today{
    width: 450px;
    height: 70px;;
    margin: auto;
    font-size:15px; 
    background-color: #083f55;
    color:white;
    font-family: monospace;
    border-radius: 20px;
}
#content{
    margin: auto;
    text-align: center;
}
.footer{
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
form{
    width: 450px;
    height: 600px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    background-color: rgb(45, 137, 150);
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, sans-serif;;
}
.chose{
    width: 450px;
    height: 60px;
    border-bottom-left-radius:20px; 
    border-bottom-right-radius:20px; 
    background: #083f55;
    border-bottom: 3px solid white;
}
.chose p{
    font-size: 30px;
    
}
input{
    width: 220px;
    background-color:rgb(45, 137, 150);
    border:none;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    text-align: left;
    margin: auto;
    border-bottom: 2px solid white;
   
}
button{
    border:none;
    width: 200px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #083f55;
    border-radius: 20px;
    color:white;
}
button:hover{
    background-color: #FFFFFF;
    color: #083f55;
    width: 210px;
    height: 42px;
    transition-duration: 0.4s;
    font-size: 21px;
}